body
{
    background-color: #241a16;
}
section
{
    background-color: #89c97b;
    border-radius: 5em;
    margin: 1.5%;
    padding: 1.5%;
    clear:both;
    margin-left: 3.5%;
    margin-right: 3.5%;
    width:90%;
}
img
{
    border-radius: 5em;
}
main section img
{
    width: 100%;
}
section div
{
    background-color: #bbd8a5;
    border-radius: 5em;
    margin: 1.5%;
    padding: 1.5%;
    display: inline-block;
}
.Explicacion
{
    width:30%;
    margin-left: 32.5%;
    margin-right: 32.5%;
}
main section div img
{
    width:80%;
}
h1
{
    color: #f6e6df;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
}
h2
{
    color: #000000;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
}
h3
{
    color: #000000;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}
h4
{
    color: #000000;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}
header nav ul li
{
    display: inline-block;
    margin: 1%;
}
header nav
{
    background-color: #5e6674;
    border-radius: 5em;
}
header nav ul li a
{
    color: #8ecfa2;
}
a
{
    font-size: 1.5em;
}
li
{
    font-size: 1em;
}
p
{
    font-size: 1.3em;
    text-align: center;
}
.ReseñaNegativa
{
    width:20%;
    border: 1.5em solid #ff0000;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.ReseñaNegativa img
{
    width:20%;
    margin: 2%;
}
.ReseñaPositiva
{
    width:20%;
    border: 1.5em solid #00ff15;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.ReseñaPositiva img
{
    width:20%;
    margin: 2%;
}
footer
{
    background-color: #5e6674;
    border-radius: 5em;
    margin: 1.5%;
    padding: 1.5%;
}
footer img
{
    width:10%;
    border-radius:10em;
}
article
{
    width:50%;
    margin-left:42%;
    margin-right:42%;
}
main section img
{
    width: 100%;
}
main
{
    padding-top: 10%;
}
main section div
{
    background-color: #bbd8a5;
    border-radius: 5em;
    margin: 1.5%;
    padding: 1.5%;
    display: inline-block;
    width:27%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #241a16;
    padding-right: 36.6%;
    padding-left: 33.6%;
}
footer h2
{
    color: #8ecfa2;
}
footer h3
{
    color: #8ecfa2;
}
.Mecanicas
{
    clear:none;
}
.Mecanicas div
{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.Mecanicas div img
{
    width:100%;
}
.Contenido img
{
    width:50%;
    margin-left: 25%;
    margin-right: 25%;

}
.Noticia
{
    width:75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
.Noticia img
{
    width:65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
}
.Form
{
    width:70%;
    border: 1.5em solid #f6e6df;
    margin-left: 11%;
    margin-right: 11%;
}
